@import '../../variables.scss';

.signUp{
    padding: 90px 40px;
    background: url('../../../public/img/content/signup1.jpg') center center;

    .block{
        @include wrapper;
        background-color: $green-detail;
        border-radius: 20px;
        .inner{
            padding: 60px 40px;
            h2{
                @include titles;
                color: $titles-color;
                margin-bottom: 15px;
                text-align: center;
            }
            p{
                text-align: center;
                max-width: 1000px;
                font-size: 1.1rem;
                margin:  0 auto 50px auto;
            }

            form{
                display: flex;
                justify-content: center;
                input{
                    @include inputStyles;
                    max-width: 450px;
                }
                input + input{
                    margin-left: 30px;
                }

                button{
                    @include button;
                    position: relative;
                    top: 20px;
                    margin-left: 30px;
                }
            }
        }
    }
}

@media(max-width:1024px){
    .signUp{
        .block{
            .inner{
                padding: 60px 40px;
                h2{
                    margin-bottom: 15px;
                }
                p{
                    max-width: 700px;
                    font-size: 1.1rem;
                    margin:  0 auto 50px auto;
                }
    
                form{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    input{
                        max-width: 100%;
                    }
                    input + input{
                        margin-left: 0px;
                    }
    
                    button{
                        margin-left: 0;
                        max-width: 450px;
                        width: 100%;
                        top: 20px;
                    }
                }
            }
        }
    }
}


@media(max-width:768px){
    .signUp{
        padding: 50px;
        .block{
            .inner{
                padding: 40px 30px;
                h2{
                    margin-bottom: 15px;
                }
                p{
                    max-width: 700px;
                    font-size: 1rem;
                    margin:  0 auto 30px auto;
                }
    
                form{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    input{
                        max-width: 100%;
                        margin-bottom: 30px;
                    }
                    input + input{
                        margin-left: 0px;
                    }
    
                    button{
                        max-width: 450px;
                        width: 100%;
                        top: 0px;
                    }
                }
            }
        }
    }
}

@media(max-width:420px){
    .signUp{
        padding: 30px 20px;
        .block{
            .inner{
                padding: 40px 20px;
                h2{
                    margin-bottom: 10px;
                }
                p{
                    margin:  0 auto 20px auto;
                }
    
                form{
                    input{
                        margin-bottom: 20px;
                    }
    
                    button{
                        max-width:400px;
                    }
                }
            }
        }
    }
}